.venv/
.vscode/
build/
dist/
*.egg-info/
.eggs/
eggs/
pip-wheel-metadata/
__pycache__/
.pytest_cache/
.mypy_cache/
.cache/
htmlcov/
.coverage
coverage.xml
.tox/
.nox/
node_modules/
.next/
.nuxt/
out/
.vite/
.parcel-cache/
.sass-cache/
target/
.gradle/
cmake-build-*/
dataset/